<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleForumApp</title>

    @*<environment include="Development">
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery.unobtrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
        <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    </environment>*@


</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md bg-dark">




        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SimpleForumApp</a>

        @{
            Dictionary<string, string> NavbarActiveList = new Dictionary<string, string> { };

            NavbarActiveList.Add("/", "");
            NavbarActiveList.Add("/Account", "");
            NavbarActiveList.Add("/Account/Logout", "");
            NavbarActiveList.Add("/Account/Register", "");
            NavbarActiveList.Add("/Account/Login", "");

            string CurrentPath = Context.Request.Path;
            if (NavbarActiveList.Keys.Contains(CurrentPath))
            {
                NavbarActiveList[CurrentPath] = "active";
            };

            <div class=" collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link @NavbarActiveList["/"]" asp-area="" asp-controller="Home" asp-action="Index">Главная</a></li>
                    @if (User.IsInRole("User") || User.IsInRole("Admin"))
                    {
                        <li class="nav-item"><a class="nav-link @NavbarActiveList["/Account"]" asp-area="" asp-controller="Account" asp-action="Index">Личный кабинет</a></li>
                        <li class="nav-item"><a class="nav-link @NavbarActiveList["/Account/Logout"]" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link @NavbarActiveList["/Account/Register"]" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                        <li class="nav-item"><a class="nav-link @NavbarActiveList["/Account/Login"]" asp-area="" asp-controller="Account" asp-action="Login">Авторизация</a></li>
                    }
                </ul>
            </div>
        }
    </nav>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax/dist/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - SimpleForumApp</p>
        </footer>
    </div>





    @RenderSection("Scripts", required: false)
</body>
</html>
